extends ../layouts/base

block content
	-function prettyDate(dateString){
		//if it's already a date object and not a string you don't need this line:
		-var date = new Date(dateString);
		-var d = date.getDate();
		-var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
		-var m = monthNames[date.getMonth()];
		-var y = date.getFullYear();
		-return d+' '+m+' '+y;
	-}
	.content
		.page-inner
			.page-header
				h4.page-title Request Items
				ul.breadcrumbs
					li.nav-home
						a(href="#")
							i.flaticon-home
					li.separator
						i.flaticon-right-arrow
					li.nav-item
						a(href="#") Request Items
			.row
				.col-md-12
					.card
						.card-header
							.row 
								.col-lg-12
									.d-flex.align-items-center
										h4.card-title Request Items
										//- a.button.btn.btn-dark.btn-round.ml-auto(href="/web/v1/request-items/create")
										//- 	i.fa.fa-plus
										//- 	| 
										//- 	| Create
										if(session.role != 'inventory')
											a.button.btn.btn-dark.btn-round.ml-auto(data-toggle='modal', href='', data-target='#create')
												i.fa.fa-plus
												| 
												| Create
						.card-body
							
							.table-responsive
								table#basic-datatables.display.table.table-striped.table-hover
									thead
										tr
											th No
											th Request ID
											th Name
											th Status 
											th Date Request 
											th Action
									tbody
										-var no = 1;
										each data in datas
											//- each data in datas
											//- 	tr
											//- 		td #{no++}
											//- 		td(style="color: #1F3BB3;") #{data.username}
											//- 		td #{data.name}
											//- 		td #{data.email}
											//- 		td #{data.phone}
											//- 		td(style="text-align: center;")
											//- 			if data.role == 'perangkat_desa'
											//- 				span.badge.badge-primary Perangkat Desa
											//- 			else if data.role == 'dukuh'
											//- 				span.badge.badge-success Enumator
											//- 			else if data.role == 'ketua_padukuhan'
											//- 				span.badge.badge-warning Dukuh
											//- 			else if data.role == 'lurah'
											//- 				span.badge.badge-secondary Lurah
											//- 		td(style="text-align: center;")
											//- 			if data.status == 'inactive'
											//- 				span.badge.badge-danger Tidak Aktif
											//- 			else if data.status == 'active'
											//- 				span.badge.badge-success Aktif
										
											tr 
												td #{no++}
												td
													span.text-primary ##{data.request_id}
												td 
													b #{data.request_by.name}
												td(style="text-align: center;")
													if data.status == 'inbound'
														span.badge.badge-success Inbound
													else if data.status == 'outbound'
														span.badge.badge-primary Outbound
													else if data.status == 'requested'
														span.badge.badge-danger Requested
													if data.status == 'returned'
														span.badge.badge-warning Returned
												td
													small #{prettyDate(data.date_request)}
												td
													button.btn.btn-lg.btn-outline-dark.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
														| Action
													ul.dropdown-menu
														li 
															a.dropdown-item(href='/web/v1/request-items/detail?req_item_id='+data._id) Detail
														if (data.status == 'outbound' && session.role != 'inventory')
															.dropdown-divider
															li
																a.dropdown-item(href='/web/v1/request-items/return?status=returned&_id='+data._id) Return Item
															
														//- li 
														//- 	a.dropdown-item(href="/web/v1/projects/task?_id=87654321") Delete
		
	.modal.fade(id='create' ,tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h3 
						b Request Items from Inventory
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true")
							i.fas.fa-window-close
						span.sr-only close
				.modal-body
					form.form-validation(action="", method="post")
						.form-group.row
							.col-sm-12
								label.form-control-label(for="inputEmail3") Date Request Item
									span.text-danger *
								input#date_request.form-control(type="date", name="date_request", required="required")
								br
								//- a.button.btn.btn-dark.btn-round.ml-auto(href="#", onclick="myFunction();")
								//- 	i.fa.fa-plus
								//- 	| 
								//- 	| Add Items
								//- #redeem_form
								//- 	br
								
								.dropdown
									a.button.btn.btn-dark.btn-round.ml-auto(onclick="myFunction2()")
										i.fa.fa-plus
										| 
										| List Items
									br
									#myDropdown.dropdown-content
										input#myInput(type="text", placeholder="Search..", onkeyup="filterFunction()")
										each item in items
											a(href="#", onclick="myFunction('"+item.code+"');") #{item.name}__#{item.serial_number}
										//- a(href="#", onclick="myFunction('base');") Base
										//- a(href="#", onclick="myFunction('blog');") Blog

						#appendElement 
							//- .row
							//- 	.col-md-8
							//- 		b List Items 
							//- 	.col-md-4
							//- 		b Total
							//- br
						br
						br
						.form-group.row
							.col-sm-12.col-sm-offset-4
								button.btn.btn-dark.waves-effect.waves-light.float-right(type="button", onclick="submitReqItems()")
									| Submit
				//- .modal-footer
					//- button.btn.btn-danger(type='button', data-dismiss='modal') Close
			// /.modal-content
		// /.modal-dialog
	// /.modal

	script.
		function myFunction(params) {
			//- const para = document.createElement("p");
			//- const node = document.createTextNode("This is a paragraph.");
			//- var points = Math.floor((Math.random() * 1000) + 1)

			//- var row = document.createElement("div");
			//- row.className = "row";

			//- var col8 = document.createElement("div");
			//- col8.className = "col-md-8";
			
			//- var col4 = document.createElement("div");
			//- col4.className = "col-md-4";

			//- var input = document.createElement("input");
			//- input.className = "form-control";
			//- input.setAttribute("type", "text");
			//- input.setAttribute("name", "item");
			//- input.setAttribute("value",params);
			//- input.readOnly = true;
			//- col8.appendChild(input);
			
			//- var input2 = document.createElement("input");
			//- input2.className = "form-control";
			//- input2.setAttribute("type", "number");
			//- input2.setAttribute("name", "total");
			//- input2.setAttribute("value", 1);
			//- col4.appendChild(input2);

			//- document.getElementById("appendElement").appendChild(para);
			//- document.getElementById("appendElement").appendChild(col8);
			//- document.getElementById("appendElement").appendChild(col4);

			const $labelCol1 = $('<div class="col-sm-1"></div>').append('<label class="form-control-label"> Code Item </label>')
			const $labelCol2 = $('<div class="col-sm-1"></div>').append('<label class="form-control-label"> Total </label>')
			const $labelCol3 = $('<div class="col-sm-1"></div>').append('<label class="form-control-label"> Pinjam </label>')
			const $labelCol4 = $('<div class="col-sm-1"></div>').append('<label class="form-control-label"> Habis </label>')
			const $inputCol1 = $('<div class="col-sm-4"></div>').append($("<input class='form-group col-sm-12' disabled type='text' name='item[]' id='item' value='"+params+"' />"))
			const $inputCol2 = $('<div class="col-sm-2"></div>').append($("<input class='form-group col-sm-12' type='number' name='quantity[]' id='quantity' value='1'/>"))
			const $inputCol3 = $('<div class="col-sm-1"></div>').append($("<input class='form-group col-sm-12' type='checkbox' name='status' id='status' value='pinjam' />"))
			const $inputCol4 = $('<div class="col-sm-1"></div>').append($("<input class='form-group col-sm-12' type='checkbox' name='status' id='status' value='habis' />"))

			$('<br/><div class="row"></div>')
				.append($labelCol1)
				.append($inputCol1)
				.append($labelCol2)
				.append($inputCol2)
				.append($labelCol3)
				.append($inputCol3)
				.append($labelCol4)
				.append($inputCol4)
				// Because of the missing button you're 2 columns short. Add a placeholder.
				.appendTo("#appendElement");
		}

		function myFunction2() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		function filterFunction() {
			const input = document.getElementById("myInput");
			const filter = input.value.toUpperCase();
			const div = document.getElementById("myDropdown");
			const a = div.getElementsByTagName("a");
			for (let i = 0; i < a.length; i++) {
				txtValue = a[i].textContent || a[i].innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					a[i].style.display = "";
				} else {
					a[i].style.display = "none";
				}
			}
		}

		function submitReqItems() {

			var host = window.location.origin;
			var date_request = $('#date_request').val()
			var errorCounterDupInput = 0;
			var items = [];
			$("input[name='item[]']").each(function (i, el1) {
				var current_val = $(el1).val();
				console.log("current_val : " + current_val);
				if (current_val != "") {
					if(items.indexOf(current_val) === -1){
						items.push(current_val);
					} else {
						errorCounterDupInput++;
					}
				}
			});
			var quantities = [];
			$("input[name='quantity[]']").each(function (i, el1) {
				var current_val = $(el1).val();
				console.log("current_val : " + current_val);
				if (current_val != "") {
					if(quantities.indexOf(current_val) === -1){
						quantities.push(current_val);
					} else {
						errorCounterDupInput++;
					}
				}
			});
			var statuses = []
			$("input:checkbox[name=status]:checked").each(function(){
				statuses.push($(this).val());
			});
			console.log(errorCounterDupInput);
			//- var item = $("input[name='item[]']")
			//- var quantity = $("input[name='quantity[]']")

			console.log({host, date_request, items, quantities})

			var obj = {
				date_request: date_request,
				items: items,
				quantities: quantities,
				statuses: statuses
			}
			$.ajax({
				type: "POST",
				url: host + "/web/v1/request-items/insert",
				data: obj,
				success: function(datas){
					if (datas.success == 200) {
						window.location.href = `${host}/web/v1/request-items`

					}
				},
				error: function(errMsg) {
					console.log('New Error : '+errMsg);
				}
			});
		}
