extends ../layouts/base

block content
	.content
		.page-inner
			.page-header
				h4.page-title Items
				ul.breadcrumbs
					li.nav-home
						a(href="#")
							i.flaticon-home
					li.separator
						i.flaticon-right-arrow
					li.nav-item
						a(href="#") Items
			.row
				.col-md-12
					.card
						.card-header
							.row 
								.col-lg-12
									.d-flex.align-items-center
										h4.card-title Items
										a.button.btn.btn-dark.btn-round.ml-auto(href="/infrastructure/create")
											i.fa.fa-plus
											| 
											| Create
						.card-body
							.table-responsive
								table#basic-datatables.display.table.table-striped.table-hover
									thead
										tr
											th No
											th Code Item
											th Name
											th Serial Number 
											th Amount 
											th Condition 
											th Location 
											th Grouping 
											th Action
									tbody
										-var no = 1;
										each data in datas
				
											tr 
												td #{no++}
												td
													a.btn.btn-dark.btn-lg.btn-link(title='', data-original-title="QR Code", data-toggle='modal', href='', data-target='#qr'+data._id)
														| #{data.code}
												td 
													b  #{data.name}
												td  #{data.serial_number}
												td  #{data.amount}
												td  #{data.condition}
												td  #{data.temp_location}
												td  #{data.grouping}
												td.d-none.d-md-table-cell
													button.btn.btn-lg.btn-outline-dark.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
														| Action
													ul.dropdown-menu
														//- li 
														//- 	a.dropdown-item(href="/web/v1/projects/documentation?_id=87654321") Detail
														//- .dropdown-divider
														li
															a.dropdown-item(href='/web/v1/projects/detail?_id=87654321') Edit
															
														li 
															a.dropdown-item(href="/web/v1/projects/task?_id=87654321") Delete
			
	each data in datas
		.modal.fade(id='qr'+data._id ,tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog(style="width: 500px;")
				.modal-content
					.modal-header
						h2#myModalLabel.modal-title #{data.name}
						button.close(type="button", data-dismiss="modal")
							span(aria-hidden="true")
								i.fas.fa-window-close
							span.sr-only close
					.modal-body
						img(src=data.qr, alt="QR Code", width="250", height="250", style="margin-left: auto; margin-right: auto; display: block; width: 50%;")

					//- .modal-footer
					//- 	a.btn.btn-danger#tambah(type='button', href='infrastructure/delete/'+data._id) Yes
					//- 	button.btn.btn-primary(type='button', data-dismiss='modal') No
				// /.modal-content
			// /.modal-dialog
		// /.modal

	script.
		function openPopupQR() {
			$('#qrCode').modal('show');
		};