extends ../layouts/base

block content
	-var no = 1;
	-function prettyDate(dateString){
		//if it's already a date object and not a string you don't need this line:
		-var date = new Date(dateString);
		-var d = date.getDate();
		-var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
		-var m = monthNames[date.getMonth()];
		-var y = date.getFullYear();
		-var ss = date.getSeconds();
		-var mm = date.getMinutes();
		-var hh = date.getHours();
		-return d+' '+m+' '+y;
	-}
	.content
		.page-inner
			.page-header
				h4.page-title Projects
				ul.breadcrumbs
					li.nav-home
						a(href="/web/v1/dashboard")
							i.flaticon-home
					li.separator
						i.flaticon-right-arrow
					li.nav-item
						a(href="#") Projects
			.row
				.col-md-12
					.card
						.card-header
							.row 
								.col-lg-8 
									.d-flex.align-items-center
										h4.card-title Projects
								if (session.role == 'developer' || session.role == 'pm')
									.col-lg-4
										.card-tools.text-right
											button.btn.btn-dark(data-original-title="Create Task", data-toggle='modal', href='', data-target='#create')
												span.btn-label
													i.fa.fa-plus
												| 
												| Create
								//- .col-lg-4
								//- 	.ml-md-auto.py-2.py-md-0(style="float: right;")
								//- 		a.btn.btn-secondary.btn-round(href="/download/activity-users")
								//- 			span.btn-label
								//- 				i.fas.fa-cloud-download-alt
								//- 			| 
								//- 			| Download
						.card-body
							.table-responsive
								table#basic-datatables.display.table.table-striped.table-hover
									thead
										tr
											th Project ID
											th Name
											//- th Role
											th Total Duration
											th Deadline
											th Status
											th Urgency
											th Assignor
											th Action
									tbody
										
										//- each data in datas
										//- 	tr
										//- 		td #{no++}
										//- 		td(style="color: #1F3BB3;") #{data.username}
										//- 		td #{data.name}
										//- 		td #{data.email}
										//- 		td #{data.phone}
										//- 		td(style="text-align: center;")
										//- 			if data.role == 'perangkat_desa'
										//- 				span.badge.badge-primary Perangkat Desa
										//- 			else if data.role == 'dukuh'
										//- 				span.badge.badge-success Enumator
										//- 			else if data.role == 'ketua_padukuhan'
										//- 				span.badge.badge-warning Dukuh
										//- 			else if data.role == 'lurah'
										//- 				span.badge.badge-secondary Lurah
										//- 		td(style="text-align: center;")
										//- 			if data.status == 'inactive'
										//- 				span.badge.badge-danger Tidak Aktif
										//- 			else if data.status == 'active'
										//- 				span.badge.badge-success Aktif
										each data in datas
											tr 
												td
													span.text-primary ##{data.code}
												td 
													b #{data.name}
												//- td Frontend, Backend
												td #{data.duration} Hours
												td #{prettyDate(data.deadline)}
												td
													span.badge.bg-success Active
												td 
													span.badge.bg-danger Very Urgent
												td 
													if (session.role == 'developer' || session.role == 'pm')
														.user-box
															.avatar
																img.avatar-img.rounded-circle(src="/photos/"+data.assignee.photo, alt="image profile")
															.u-text
																h4  #{data.assignee.name}
																p.text-muted(style="text-align: left;") #{data.assignee.position} - #{data.assignee.jobdesc}
													if (session.role == 'staff')
														.user-box
															.avatar
																img.avatar-img.rounded-circle(src="/photos/"+data.assignor.photo, alt="image profile")
															.u-text
																h4  #{data.assignor.name}
																p.text-muted(style="text-align: left;") #{data.assignor.position} - #{data.assignor.jobdesc}
												td.d-none.d-md-table-cell
													button.btn.btn-lg.btn-outline-dark.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
														| Action
													ul.dropdown-menu
														li
															a.dropdown-item(href='/web/v1/projects/detail?project_id='+data._id) Detail
															
														li 
															a.dropdown-item(href="/web/v1/projects/task?project_id="+data._id) Sprint Task
														li 
															a.dropdown-item(href="/web/v1/projects/documentation?project_id="+data._id) Documentation
														.dropdown-divider
														li
															a.dropdown-item(href="/auth/logout") Project Done
	
	
	.modal.fade(id='create',tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(style="width: 600px;")
			.modal-content
				.modal-header
					h2
						b Create New Project
					button.close(type="button", data-dismiss="modal")
						span(aria-hidden="true")
							i.fas.fa-window-close
						span.sr-only close
				.modal-body
					form(action='/web/v1/projects/insert', enctype='multipart/form-data', method='post')
						.form-group
							label(for="exampleFormControlInput1") 
								| Assignee
								span.text-danger *
							select.form-control(name="assignee", id='', required="required")
								option(value='') -- Assignee --
								each assignee in assignees
									option(value=assignee._id) #{assignee.jobdesc} - #{assignee.name}
						.form-group
							label(for="exampleFormControlInput1") 
								| Name
								span.text-danger *
							input.form-control(type="text", name="name", required="required", placeholder="Name")
						.form-group
							label(for="exampleFormControlInput1") 
								| Duration in Hours
								span.text-danger *
							input.form-control(type="number", name="duration", required="required", placeholder="Total Duration in Hours")
						.form-group
							label(for="exampleFormControlInput1") 
								| Deadline
								span.text-danger *
							input.form-control(type="date", name="deadline", required="required", placeholder="Deadline")
						.form-group
							label(for="exampleFormControlInput1") 
								| Description
								span.text-danger *
							textarea#description.form-control(rows='3', name='description', placeholder="Description")
						.form-group
							label(for="exampleFormControlInput1") 
								| Goals
								span.text-danger *
							textarea#goals.form-control(rows='3', name='goals', placeholder="Goals")
						.form-group
							button.btn.btn-primary.waves-effect.waves-light.float-right(type="submit") Create